<!DOCTYPE html>
<html>
<head>
	<title>User</title>
</head>
<body>
	<h1>Enter new user:</h1>
<%= form_for @user,  url: { action: "create" },class: "form-horizontal center" do |f| %>
 	<div class="form-group">
 	<label for="exampleInputEmail1">Username</label>
	<%= f.text_field :username, class: "form-control" %><br>
	<label for="exampleInputEmail1">Email address</label>
	<%= f.text_field :mail, class: "form-control"  %>
	<small id="emailHelp" class="form-text text-muted">Type: youremail@mail.com</small><br>
	<label for="exampleInputEmail1">Bio</label>
	<%= f.text_area :bio, class: "form-control"  %><br>
	<%= f.submit "Submit", class: "btn btn-default btn-primary" %> 
</div>
	<% end %>
<hr>
Last users</p>
Username: <%= @users.username %> <br>
Email: <%= @users.mail %> <br>
Bio: <%= @users.bio %><br>

</body>
</html>
